.Sidebar {
    width: 250px;
    height:1460px;
    border-right: 1px solid lightgray;
}

.Sidebar__single {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 20px;
    color:#535f7b;
}

.Sidebar > .Sidebar__single:nth-child(1) {
    color:#811434;
    background-color: #f7f1f3;
    border-right: 2px solid #811434;
}